header h1.blog-title {
    padding: 0px;
    margin: 0px;
    font-family: 'Poiret One';
    font-size: 42px;
}

header p.article-info {
    margin-top: 8px;
    font-family: 'Raleway';
    font-size: 14px;
}

header a.author-link, a.comments-link {
    cursor: pointer;
    color: dodgerblue;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 14px;
}

button .love-counter {
    margin-right: 5px;
}

button .share-counter {
    margin-right: 5px;
}

#blog-detail footer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   
   margin-top: 20px;
   padding: 5px 0px 5px 0px;
   /*border-top: 1px solid rgba(0,0,0,0.12);*/
   border-bottom: 1px solid rgba(0,0,0,0.12);
}

#blog-detail footer .button-container {
   -webkit-flex: 30 0 0; 
   flex: 30 0 0;
}

.button-container .btn {
    float: right;
    margin: 4px;
}

#blog-detail footer .comments-title {
   -webkit-flex: 100 0 0; 
   flex: 100 0 0;
   
   font-family: 'Raleway';
   font-size: 20px;
   font-weight: bold;
   margin: 0px;
   padding-top: 10px;
}