<div id="blog-detail" class="col-md-8 col-md-offset-2">
    <header>
        <h1 class="blog-title">{{blog.title}}</h1>
        <p class="article-info">
            Posted by <a class="author-link">{{blog.author}}</a> on {{blog.publication | date:'ddMMy'}} | <a class="comments-link">5 comments</a>
        </p>
    </header>
    <article>
        {{blog.text}}
    </article>
    <footer>
        <div class="comments-title-container">
            <p class="comments-title" (click)="openComments()">Comments</p>
            <div class="comments-menu-arrow glyphicon glyphicon-menu-down" *ngIf="!commentsOpened"></div>
            <div class="comments-menu-arrow glyphicon glyphicon-menu-up" *ngIf="commentsOpened"></div>
        </div>
        <div class="button-container">
            <button class="btn btn-primary" (click)="share()"><span class="share-counter" *ngIf="shared > 0">{{shared}}</span><span class="glyphicon glyphicon-share"></span></button>
            <button class="btn btn-danger" (click)="loveBlogPost()"><span class="love-counter" *ngIf="likes > 0">{{likes}}</span><span class="glyphicon glyphicon-heart"></span></button>
        </div>
    </footer>
</div>